<div class="nav-container">
    <div class="logo">
        <a href="{{ '/' | url }}">
            言葉の野風爐
        </a>
    </div>
    <div class="nav">
        <a href="{{ '/articles/drafts' | url }}" class="link">
            稿東稿西
        </a>

        <a href="{{ '/articles/rensei' | url }}" class="link">
            日語鍊成
        </a>
        <a href="{{ '/about' | url }}" class="link">
            看爐者誰
        </a>
        <a href="{{ 'serach' | url }}" class="link">
            <i class="fa-solid fa-magnifying-glass"></i>
        </a>
    </div>
</div>
