<!DOCTYPE html>
<html lang="{{ meta.lang }}">
{% include "head.njk" %}

<body>
    {% include "navbar.njk" %}
    <div class="ctx-box">
        <p>
            {% block content %}
            {{ content | safe }}
            {% endblock %}
        </p>
    </div>
    {% include "footer.njk" %}

</body>

</html>
