<!DOCTYPE html>
<html lang="en">

{% include "head.njk" %}

<body>
    <div>
        {% include "navbar.njk" %}
        <div class="tasks-container">
            <div class="text">
                {{ content | safe }}
            </div>
            <div class="grid-tasks">
                <div></div>
                <div class="task-card box1">
                    <a href="/articles/drafts/hakugen/" class="link">
                        台灣、博言之道<br>
                        (整備中……)
                    </a>
                </div>
                <div class="task-card box2">
                    <a href="/articles/drafts/flight" class="link">
                        飛行士的故事<br>
                        （整備中……）
                    </a>
                </div>
                <div></div>
            </div>
        </div>
    </div>
</body>

</html>
