---
layout: base.njk
---
{% include "bulletin.njk" %}
<div>
  <h2>Recent Posts</h2>
  <header>
    {%- for entry in meta.navTotal %}
    <span class="{% if entry.url == page.url %} active{% endif %}"><a href="{{ entry.url | url }}">{{ entry.title
        }}</a>{%
      if not loop.last %} - {% endif %}</span>
    {%- endfor %}
  </header>
  <main{% if templateClass %} class="{{ templateClass }}" {% endif %}>
    {{ content | safe }}
    </main>



    {% set maxPosts = collections.posts.length | min(3) %}
    {% set postslist = collections.posts | head(-3) %}
    {% set postslistCounter = collections.posts | length %}
    {% include "postslist.njk" %}
    <p>More posts can be found in <a href="{{ '/artcles/' | url }}">the archive</a>.</p>
    {% include "footer.njk" %}
</div>
