<!DOCTYPE html>
<html lang="{{ meta.lang }}">

{% include "head_plyr.njk" %}

<body>
    {% include "navbar.njk" %}
    <div class="ctx-box">

        <h1>{{ title }}</h1>
        <br>

        {% if youtube %}
        {% set yt_id = youtube | replace("https://www.youtube.com/watch?v=", "") %}
        <div class="plyr_video-embed">
            <iframe src="https://www.youtube.com/embed/{{ yt_id }}?origin=localhost&iv_load_policy=3&modestbranding=1"
                allowfullscreen allow="autoplay; encrypted-media">
            </iframe>
        </div>
        <details>
            <summary>新聞內文</summary>
            {% endif %}

            {{ content | safe }}

            {% if audio1 %}
        </details>
        <br>
        <h3>問題一</h3>
        <audio class="audio-player">
            <source src="{{('/audio/' + audio1) | url }}" type="audio/mp3" />
        </audio>
        {% endif %}
        <br>
        {% if audio2 %}
        <h3>問題二</h3>
        <audio class="audio-player">
            <source src="{{ ('/audio/' + audio2) | url }}" type="audio/mp3" />
        </audio>
        {% endif %}
        <br>
        {% if audio3 %}
        <h3>問題三</h3>
        <audio class="audio-player">
            <source src="{{ ('/audio/' + audio3) | url }}" type="audio/mp3" />
        </audio>
        {% endif %}
        <br>
        <br>

    </div>
    <script src="https://cdn.plyr.io/3.7.8/plyr.polyfilled.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const players = Plyr.setup('.audio-player', {
                controls: [
                    'play',
                    'progress',
                    'current-time',
                    'duration',
                    'mute',
                    'volume',
                    'settings',
                ],
            })
        })
    </script>
</body>

</html>
