<!DOCTYPE html>
<html lang="{{ meta.lang }}">

{% include "head.njk" %}

<body>
    {% include "navbar.njk" %}
    <div class="tasks-container">
        <div class="grid-tasks">
            <div></div>
            <div></div>
            <div class="task-card">
                <a href="{{ '/articles/rensei/n1n2/search_student-info' | url }}" class="link">
                    搜詢學生資料
                </a>
            </div>
            <div class="task-card">
                <a href="{{ '/articles/rensei/n1n2/listening' | url }}" class="link">
                    新聞聽解練習
                </a>
            </div>
        </div>
    </div>
    <div class="ctx-box">
        {{ content | safe }}
    </div>
</body>

</html>
