<!DOCTYPE html>
<html lang="en">

{% include "head.njk" %}

<body>
    <div>
        {% include "navbar.njk" %}
        <div class="tasks-container">
            <div class="text">
                {{ content | safe }}
            </div>
            <div class="grid-tasks">
                <div></div>
                <div class="task-card box1">
                    <a href="{{ '/articles/rensei/teaching' | url }}" class="link"
                        style="color: hsla(0, 100%, 50%, 0.7);">
                        工事中……
                    </a>
                </div>
                <div class="task-card box2">
                    <a href="{{ '/articles/rensei/n1n2' | url }}">
                        日語閱讀聽力鍊成班
                    </a>
                </div>
                <div></div>
            </div>
        </div>
    </div>
</body>

</html>
