<!DOCTYPE html>
<html lang="{{ meta.lang }}">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="{{ '/images/favicon.svg' | url }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{ '/css/global.css' | url }}" />
    <script src="{{ '/js/change_input-data.js' | url }}"></script>
    <title>{{ meta.title + "-" + "鍊成紀錄"}}</title>
</head>

<body>
    {% include "navbar.njk" %}
    <div class="search-box">
        <div class="form-content">
            <h2>堂數查詢</h2> <br>
            <label>姓名：<input type="text" id="name"></label><br><br>
            <label>Email or 查詢碼：<input type="text" id="query"></label><br><br>
            <button onclick="queryStudent()"> &emsp;查詢&emsp;</button>

            <div id="stu-result" style="margin-top: 2em;"></div>
        </div>
    </div>
</body>

</html>
